*, * * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #f7f7fc;
    font-family: 'Mulish', serif;
    font-size: 16px;
    color: #92929D;
    letter-spacing: 0.005em;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #11142D;
    margin-bottom: 24px;
}

.subtitle {
    line-height: 120%;
    text-align: center;
}

.container {
    max-width: 750px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin-top: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field {
    margin-bottom: 20px;
}

.label {
    color: #11142D;
    margin-bottom: 20px;
}

input {
    width: 296px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #ECF2FE;
    border-radius: 8px;
    padding: 16px 10px 21px 16px;
    font-family: 'Mulish',serif;
    font-size: 16px;
    letter-spacing: 0.005em;
    color: #9A9AB0;
}

.button {
    width: 128px;
    height: 56px;
    background: #FA3C45;
    border-radius: 8px;
    margin-top: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
